Node-red/flow.json
[
  {
    "id": "mqtt-in-sensors",
    "type": "mqtt in",
    "z": "flow1",
    "name": "Sensors",
    "topic": "fiap/deivid/edge/sensors",
    "qos": "0",
    "datatype": "json",
    "broker": "broker1",
    "x": 140,
    "y": 140,
    "wires": [["ui-temp","ui-humid","ui-dist","debug-sensors"]]
  },
  {
    "id": "ui-temp",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Temperatura",
    "group": "ui-group",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "min": 0,
    "max": "45",
    "x": 380,
    "y": 100,
    "wires": []
  },
  {
    "id": "ui-humid",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Umidade",
    "group": "ui-group",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "min": 0,
    "max": "100",
    "x": 380,
    "y": 140,
    "wires": []
  },
  {
    "id": "ui-dist",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Distância",
    "group": "ui-group",
    "order": 3,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "min": 0,
    "max": "100",
    "x": 380,
    "y": 180,
    "wires": []
  },
  {
    "id": "debug-sensors",
    "type": "debug",
    "z": "flow1",
    "name": "Sensors JSON",
    "active": true,
    "console": "false",
    "x": 380,
    "y": 220,
    "wires": []
  },
  {
    "id": "mqtt-in-alerts",
    "type": "mqtt in",
    "z": "flow1",
    "name": "Alerts",
    "topic": "fiap/deivid/edge/alerts",
    "qos": "0",
    "datatype": "json",
    "broker": "broker1",
    "x": 140,
    "y": 220,
    "wires": [["ui-alerts","debug-alerts"]]
  },
  {
    "id": "ui-alerts",
    "type": "ui_text",
    "z": "flow1",
    "group": "ui-group",
    "order": 4,
    "name": "Alertas",
    "x": 380,
    "y": 260,
    "wires": []
  },
  {
    "id": "debug-alerts",
    "type": "debug",
    "z": "flow1",
    "name": "Alerts JSON",
    "active": true,
    "x": 380,
    "y": 300,
    "wires": []
  },
  {
    "id": "ui-button-pause",
    "type": "ui_button",
    "z": "flow1",
    "name": "Forçar Pausa",
    "group": "ui-group",
    "order": 5,
    "x": 160,
    "y": 300,
    "wires": [["compose-cmd-pause"]]
  },
  {
    "id": "compose-cmd-pause",
    "type": "function",
    "z": "flow1",
    "name": "compose pause_now",
    "func": "msg.topic = \"fiap/deivid/edge/commands\";\nmsg.payload = \"pause_now\";\nreturn msg;",
    "x": 380,
    "y": 340,
    "wires": [["mqtt-out-commands"]]
  },
  {
    "id": "mqtt-out-commands",
    "type": "mqtt out",
    "z": "flow1",
    "name": "Commands",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "broker1",
    "x": 620,
    "y": 340,
    "wires": []
  },
  {
    "id": "broker1",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "test.mosquitto.org",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4"
  },
  {
    "id": "ui-group",
    "type": "ui_group",
    "name": "Bem-Estar",
    "tab": "ui-tab",
    "order": 1,
    "disp": true,
    "width": "18"
  },
  {
    "id": "ui-tab",
    "type": "ui_tab",
    "name": "Future@Work",
    "icon": "dashboard",
    "order": 1
  }
]
